@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 25% 20%;
    --card: 20 100% 95%;
    --card-foreground: 20 25% 20%;
    --popover: 20 100% 95%;
    --popover-foreground: 20 25% 20%;
    --primary: 45 100% 50%;
    --primary-foreground: 20 25% 10%;
    --secondary: 34 100% 80%;
    --secondary-foreground: 20 25% 20%;
    --muted: 20 30% 85%;
    --muted-foreground: 20 25% 40%;
    --accent: 34 100% 62%;
    --accent-foreground: 20 25% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 30% 80%;
    --input: 20 30% 88%;
    --ring: 45 100% 50%;
    --chart-1: 45 100% 50%;
    --chart-2: 34 100% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 10% 10%;
    --foreground: 20 100% 92%;
    --card: 20 10% 15%;
    --card-foreground: 20 100% 92%;
    --popover: 20 10% 10%;
    --popover-foreground: 20 100% 92%;
    --primary: 45 100% 50%;
    --primary-foreground: 20 25% 10%;
    --secondary: 34 100% 70%;
    --secondary-foreground: 20 25% 10%;
    --muted: 20 10% 20%;
    --muted-foreground: 20 100% 80%;
    --accent: 34 100% 62%;
    --accent-foreground: 20 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 25%;
    --input: 20 10% 25%;
    --ring: 45 100% 50%;
    --chart-1: 45 100% 50%;
    --chart-2: 34 100% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
